{% extends "base.html" %}
  {% load static %}
  {% block content %}

  <div class="jumbotron">
    <div class="col-md-8 offset-2">
      <h1 class="display-4">Update labour contract</h1>
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" class="btn btn-outline-success btn-lg" name="submit" value="Update">
        <a class="btn btn-outline-danger btn-lg" href="{% url 'payroll:labour_contract_list' %}" role="button">Back to labour contract list</a>

       
      </form>
   </div>
  </div>
{% endblock %}