{% extends "base.html" %}
{% block css %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
{% endblock %}
{% block content %}
<p></p>
<div class="jumbotron">
  <div class="col-md-8 offset-2">
    <h1 class="display-4">New EID</h1>
    {% if message %}
    <div class="alert alert-success" role="alert">
      Thank you for your feedback!!
    </div>
    {% endif %}
    <form action="{% url 'payroll:new_eid_create' %}" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {{form.as_p}} <hr><br>
      <input type="submit" class="btn btn-outline-success" name="submit" value="Submit">
      <a class="btn btn-outline-danger" href="{% url 'payroll:new_eid_list' %}">Cancel </a>
    </form>
  </div>
</div>
{% endblock %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
<script>
  $(document).ready(function() {
      $('#id_employee').select2();
  });
</script>
{% endblock %}