{% extends "base.html" %}
{% block content %}
{% load humanize %}
<p></p>
<div class="jumbotron">
    <div class="card mb-5">
        <h5 class="card-header">Work permit</h5>
        <div class="card-body">       
          <a class="btn btn-outline-info btn-lg mb-2" href="{% url 'payroll:work_permit_create' %}" role="button"><i class="fas fa-user-plus"> </i> Add new work permit</a>
          <hr>
          <h5> Work permit issued date:</h5>
          {% for a in data %}
              <a class="btn" >{{a |date:'d-M'}} </a>
             
          {% endfor%}
          <hr>
          <h5> Pending :</h5>
          <a class="btn btn-outline-secondary mb-2" href="{% url 'payroll:p_wp_sign' %}" role="button"> Contract Sign</a>
       </div>
    </div>
</div>

<div class="jumbotron">    
  <div class="form-group row">
    <form class="form-inline" action="" method="get">
    <input class="form-control" type="date" name="date" id="example-date-input">
    <div class="input-group">
        <select class="custom-select" name="hotel" id="inputGroupSelect04">
            <option value=""> Select Hotel</option>                 
            {% for pay in hotel %}                   
                <option value="{{pay.pk}}"> {{pay}} </option>
            {% endfor %}            
        </select>            
    </div>
     <button type="submit" class="btn btn-primary ml-1">Search</button>
     <a class="btn btn-success ml-5" href="{% url 'payroll:work_permit_print' %}{{search}}" role="button"> Print </a>
    </form>
  </div>
      <table class="table table-hover h-100 p-3" id="table_id" class="dispaly">
        <thead>
          <tr>
              <th scope="col">SN</th>
              <th scope="col">Name</th>
              <th scope="col">Mobile No.</th>
              <th scope="col">Hotel </th>
              <th scope="col">Issue Date</th>
              <th scope="col">Signed</th>
              <th scope="col"> </th>
              <th scope="col"></th>
          </tr>
          </thead>
          <tbody>
          {% for permit in work_permit_list %}
          <tr>
              <td scope="row">{{ forloop.counter }}</td> 
              <td> <a href="{% url 'payroll:work_permit_detail' pk=permit.pk %}"> {{permit.employee.first_name }} </a> </td>
              <td> {{permit.employee.phone }}</td>
              <td> {{permit.employee.hotel }}</td>
              <td> {{permit.contract_issue_date }}</td>
              <td> 
                  {% if permit.contract_collected %} <i class="fa fa-check"> </i>                                
                  {% else %} <i class="fa fa-times"> </i>                                
                  {% endif %}
              </td>
              <td> <a href="{% url 'payroll:work_permit_update' pk=permit.pk %}"><i class="fas fa-edit"> </i></a> </td>
              <td> <a href="{% url 'payroll:work_permit_delete' pk=permit.pk %}"> <i class="fas fa-trash-alt"></i> </a> </td>   
          </tr>
          {% endfor %}
          </tbody>
      </table>
    </div>
    {% endblock %}
    {% block script %}
    <script>
      $(document).ready(function() {
        $('#table_id').DataTable();
      });
    </script>
    {% endblock %}